# Django #
*.log
*.pot
*.pyc
__pycache__
**/migrations/

# Vue #
node_modules
dist
dist-ssr
*.local

# POSTGRESQL #
database

# Spinx documentation #
docs/_build/

# Ruff #
.ruff_cache

# Environments #
.env
.venv
env/
venv/
