workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always

stages:
  - build_image
  - lint
  - testing
#  - e2e_tests

# Build Docker Image for Backend
build_backend_image:
  stage: build_image
  image: docker:latest
  services:
    - docker:dind
  # Only if requirements files changed
  rules:
    - changes:
        - requirements/**/*
        - dockerfile.backend
        - .gitlab-ci.yml
  # Log in to Docker registry and build the image
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.1-backend .
    - docker push $CI_REGISTRY_IMAGE:v0.1-backend
# Linting & Formatting
lint:
  stage: lint
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
    - ruff check
    - ruff format --diff
  # Run only if files in folder backend changed
  rules:
    - changes:
        - backend/**/*

# Unit Tests - Backend
backend_unit_tests:
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.1-backend
  script:
    - python -m coverage run --source='backend/' backend/manage.py test
    - python -m coverage report
    - python -m coverage xml
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    # https://docs.gitlab.com/ee/ci/yaml/index.html#artifactsexpire_in
    expire_in: 1 week

    # https://docs.gitlab.com/ee/ci/testing/test_coverage_visualization.html
    reports:
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage.xml
  # Run only if files in folder backend changed
  rules:
    - changes:
        - backend/**/*

# Unit Tests - Frontend
.frontend_test: &frontend_test_setup
  image: mcr.microsoft.com/playwright:v1.52.0-noble
  before_script:
    - cd frontend
    - npm ci
  # Run only if files in folder frontend changed
  rules:
    - changes:
        - frontend/**/*
frontend_unit_tests:
  <<: *frontend_test_setup
  stage: testing
  script:
    - npm run test:coverage
  coverage: '/All files(?:[^|]*\|){4}\s*(\S+)/'
  artifacts:
    # https://docs.gitlab.com/ee/ci/yaml/index.html#artifactsexpire_in
    expire_in: 1 week

    # https://docs.gitlab.com/ee/ci/testing/test_coverage_visualization.html
    reports:
      coverage_report:
        coverage_format: cobertura
        path: frontend/coverage/cobertura-coverage.xml
  # Run only if files in folder frontend changed
  rules:
    - changes:
        - frontend/**/*
# E2E Tests - Frontend
# frontend_e2e_tests:
#   <<: *frontend_test_setup
#   stage: e2e_tests
#   script:
#     - npm run e2e
#   # Run only if files in folder frontend changed
#   rules:
#     - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"
#       when: on_success
