workflow:
 rules:
   - if: $CI_PIPELINE_SOURCE == "merge_request_event"
     when: always

stages:
 - build_image
 - lint
 - test

# Build Docker Image
build_image:
  stage: build_image
  image: docker:latest
  services: 
    - docker:dind
  # Only if requirements files changed
  rules:
    - changes:
        - requirements/**/*
  # Log in to Docker registry and build the image
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:v0.1 .
    - docker push $CI_REGISTRY_IMAGE:v0.1


# Linting & Formatting
lint:
 stage: lint
 image: $CI_REGISTRY_IMAGE:v0.1
 script:
   - ruff format
   - ruff check
   - python backend/manage.py check
 # Run only if files in folder backend changed
 rules:
   - changes:
       - backend/**/*

# Unit Tests - Backend
backend_unit_tests:
 stage: test
 image: $CI_REGISTRY_IMAGE:v0.1
 script:
   - python backend/manage.py test
 # Run only if files in folder backend changed
 rules:
   - changes:
       - backend/**/*