workflow:
 rules:
   - if: $CI_PIPELINE_SOURCE == "merge_request_event"
     when: always

stages:
 - build_image
 - lint
 - testing
 - e2e_tests

# Build Docker Image for Backend
build_backend_image:
  stage: build_image
  image: docker:latest
  services:
    - docker:dind
  # Only if requirements files changed
  rules:
    - changes:
        - requirements/**/*
        - dockerfile.backend
        - .gitlab-ci.yml
  # Log in to Docker registry and build the image
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.1-backend .
    - docker push $CI_REGISTRY_IMAGE:v0.1-backend

# Build Docker Image for Frontend
build_frontend_image:
  stage: build_image
  image: docker:latest
  services:
    - docker:dind
  rules:
    - changes:
        - frontend/package.json
        - dockerfile.frontend
        - .gitlab-ci.yml
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -f dockerfile.frontend -t $CI_REGISTRY_IMAGE:v0.1-frontend .
    - docker push $CI_REGISTRY_IMAGE:v0.1-frontend

# Linting & Formatting
lint:
 stage: lint
 image: ghcr.io/astral-sh/ruff:0.11.8-alpine
 script:
  - ruff check
  - ruff format --diff
 # Run only if files in folder backend changed
 rules:
   - changes:
       - backend/**/*

# Unit Tests - Backend
backend_unit_tests:
 stage: testing
 image: $CI_REGISTRY_IMAGE:v0.1-backend
 script:
   - python backend/manage.py test
 # Run only if files in folder backend changed
 rules:
   - changes:
       - backend/**/*

# Unit Tests - Frontend
frontend_unit_tests:
 stage: testing
 image: $CI_REGISTRY_IMAGE:v0.1-frontend
 script:
   - cd frontend
   - npm run test
 # Run only if files in folder frontend changed
 rules:
   - changes:
       - frontend/**/*

# E2E Tests - Frontend
frontend_e2e_tests:
  stage: e2e_tests
  image: $CI_REGISTRY_IMAGE:v0.1-frontend
  script:
    - cd frontend
    - npm run e2e
  # Run only if files in folder frontend changed
  rules:
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"
      when: on_success
