services:
  postgres:
    container_name: postgres
    image: postgis/postgis
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    restart: always
    volumes:
      - waterwatch_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 1m30s
      retries: 5
      start_period: 30s
      timeout: 10s
    command:
      - postgres
      - -c
      - max_connections=${POSTGRES_MAX_CONNECTIONS}
      - -c
      - idle_in_transaction_session_timeout=${POSTGRES_IDLE_IN_TRANSACTION_SESSION_TIMEOUT}
      - -c
      - statement_timeout=${POSTGRES_STATEMENT_TIMEOUT}

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
    ports:
      - "5050:80"
    restart: always

  backend:
    container_name: backend
    depends_on:
      postgres:
        condition: service_healthy
    build:
      context: .
      dockerfile: dockerfile.backend
    image: djangoapp
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/
    env_file:
      - ./.env
    restart: always
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8000/api/health/"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: dockerfile.frontend
    image: vueapp
    ports:
      - "1235:1235"
    volumes:
      - ./frontend/:/app
    command: sh -c "npm install && npm run serve"
    env_file:
      - ./.env
    restart: always

  nginx:
    container_name: waterwatch
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./docs/_build/html:/usr/share/nginx/html/docs
      - ./frontend/src/assets/WATERWATCH_Logo.svg:/usr/share/nginx/html/favicon.svg
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      frontend:
        condition: service_started
      backend:
        condition: service_healthy
    restart: always
    healthcheck:
      test: ["CMD", "service", "nginx", "status"]
      interval: 1m30s
      retries: 3
      timeout: 10s

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

volumes:
  waterwatch_data:
    name: waterwatch_data
    driver: local
