@import "@nuxt/ui";

@import "tailwindcss";

:root {
    --ui-primary: #00a6d6;
    --ui-secondary: #d7e9f4;
    --ui-success: var(--ui-color-success-500);
    --ui-info: var(--ui-color-info-500);
    --ui-warning: var(--ui-color-warning-500);
    --ui-error: var(--ui-color-error-500);
}

.dark {
    --ui-primary: #00a6d6;
    --ui-secondary: #5c5c5c;
    --ui-success: var(--ui-color-success-500);
    --ui-info: var(--ui-color-info-500);
    --ui-warning: var(--ui-color-warning-500);
    --ui-error: var(--ui-color-error-500);
}

.dark {
    .leaflet-layer,
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out,
    .leaflet-control-locate {
        filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }
}

@layer base {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"] {
        -webkit-appearance: none;
        -moz-appearance: textfield !important;
        appearance: textfield !important;
        margin: 0;
    }
}

@theme {
    --breakpoint-xs: 26rem;
    --breakpoint-md: 64rem; /* 1024px */

    --color-main: #00a6d6;
    --color-light: #d7e9f4;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

html,
body {
    font-family: "NotoSans", sans-serif;
}
