@import "@nuxt/ui";

@import "tailwindcss";

:root {
    --ui-primary: #00a6d6;
    --ui-secondary: #d7e9f4;
    --ui-success: var(--ui-color-success-500);
    --ui-info: var(--ui-color-info-500);
    --ui-warning: var(--ui-color-warning-500);
    --ui-error: var(--ui-color-error-500);

    --ui-text-dimmed: var(--ui-color-neutral-400);
    --ui-text-muted: var(--ui-color-neutral-500);
    --ui-text-toned: var(--ui-color-neutral-600);
    --ui-text: var(--ui-color-neutral-700);
    --ui-text-highlighted: var(--ui-color-neutral-900);
    --ui-text-inverted: var(--color-white);

    --ui-bg: var(--color-white);
    --ui-bg-muted: var(--ui-color-neutral-50);
    --ui-bg-elevated: var(--ui-color-neutral-100);
    --ui-bg-accented: var(--ui-color-neutral-200);
    --ui-bg-inverted: var(--ui-color-neutral-900);

    --ui-border: var(--ui-color-neutral-200);
    --ui-border-muted: var(--ui-color-neutral-200);
    --ui-border-accented: var(--ui-color-neutral-300);
    --ui-border-inverted: var(--ui-color-neutral-900);
    --breakpoint-md: 64rem; /* 1024px */
}

.dark {
    --ui-primary: #00a6d6;
    --ui-secondary: #5c5c5c;
    --ui-success: var(--ui-color-success-500);
    --ui-info: var(--ui-color-info-500);
    --ui-warning: var(--ui-color-warning-500);
    --ui-error: var(--ui-color-error-500);

    --ui-text-dimmed: var(--ui-color-neutral-500);
    --ui-text-muted: var(--ui-color-neutral-400);
    --ui-text-toned: var(--ui-color-neutral-300);
    --ui-text: var(--ui-color-neutral-200);
    --ui-text-highlighted: var(--color-white);
    --ui-text-inverted: var(--ui-color-neutral-900);

    --ui-bg: var(--ui-color-neutral-900);
    --ui-bg-muted: var(--ui-color-neutral-800);
    --ui-bg-elevated: var(--ui-color-neutral-800);
    --ui-bg-accented: var(--ui-color-neutral-700);
    --ui-bg-inverted: var(--color-white);

    --ui-border: var(--ui-color-neutral-800);
    --ui-border-muted: var(--ui-color-neutral-700);
    --ui-border-accented: var(--ui-color-neutral-700);
    --ui-border-inverted: var(--color-white);
}

.dark {
    .leaflet-layer,
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out,
    .leaflet-control-locate {
        filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }
}

@layer base {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"] {
        -webkit-appearance: none;
        -moz-appearance: textfield !important;
        appearance: textfield !important;
        margin: 0;
    }
}

@theme {
    --breakpoint-xs: 26rem;
    --breakpoint-md: 64rem; /* 1024px */

    --color-main: #00a6d6;
    --color-light: #d7e9f4;

    --color-primary: var(--ui-primary);
    --color-primary-50: var(--ui-color-primary-50);
    --color-primary-100: var(--ui-color-primary-100);
    --color-primary-200: var(--ui-color-primary-200);
    --color-primary-300: var(--ui-color-primary-300);
    --color-primary-400: var(--ui-color-primary-400);
    --color-primary-500: var(--ui-color-primary-500);
    --color-primary-600: var(--ui-color-primary-600);
    --color-primary-700: var(--ui-color-primary-700);
    --color-primary-800: var(--ui-color-primary-800);
    --color-primary-900: var(--ui-color-primary-900);
    --color-primary-950: var(--ui-color-primary-950);
    --color-secondary: var(--ui-secondary);
    --color-secondary-50: var(--ui-color-secondary-50);
    --color-secondary-100: var(--ui-color-secondary-100);
    --color-secondary-200: var(--ui-color-secondary-200);
    --color-secondary-300: var(--ui-color-secondary-300);
    --color-secondary-400: var(--ui-color-secondary-400);
    --color-secondary-500: var(--ui-color-secondary-500);
    --color-secondary-600: var(--ui-color-secondary-600);
    --color-secondary-700: var(--ui-color-secondary-700);
    --color-secondary-800: var(--ui-color-secondary-800);
    --color-secondary-900: var(--ui-color-secondary-900);
    --color-secondary-950: var(--ui-color-secondary-950);
    --color-success: var(--ui-success);
    --color-success-50: var(--ui-color-success-50);
    --color-success-100: var(--ui-color-success-100);
    --color-success-200: var(--ui-color-success-200);
    --color-success-300: var(--ui-color-success-300);
    --color-success-400: var(--ui-color-success-400);
    --color-success-500: var(--ui-color-success-500);
    --color-success-600: var(--ui-color-success-600);
    --color-success-700: var(--ui-color-success-700);
    --color-success-800: var(--ui-color-success-800);
    --color-success-900: var(--ui-color-success-900);
    --color-success-950: var(--ui-color-success-950);
    --color-info: var(--ui-info);
    --color-info-50: var(--ui-color-info-50);
    --color-info-100: var(--ui-color-info-100);
    --color-info-200: var(--ui-color-info-200);
    --color-info-300: var(--ui-color-info-300);
    --color-info-400: var(--ui-color-info-400);
    --color-info-500: var(--ui-color-info-500);
    --color-info-600: var(--ui-color-info-600);
    --color-info-700: var(--ui-color-info-700);
    --color-info-800: var(--ui-color-info-800);
    --color-info-900: var(--ui-color-info-900);
    --color-info-950: var(--ui-color-info-950);
    --color-warning: var(--ui-warning);
    --color-warning-50: var(--ui-color-warning-50);
    --color-warning-100: var(--ui-color-warning-100);
    --color-warning-200: var(--ui-color-warning-200);
    --color-warning-300: var(--ui-color-warning-300);
    --color-warning-400: var(--ui-color-warning-400);
    --color-warning-500: var(--ui-color-warning-500);
    --color-warning-600: var(--ui-color-warning-600);
    --color-warning-700: var(--ui-color-warning-700);
    --color-warning-800: var(--ui-color-warning-800);
    --color-warning-900: var(--ui-color-warning-900);
    --color-warning-950: var(--ui-color-warning-950);
    --color-error: var(--ui-error);
    --color-error-50: var(--ui-color-error-50);
    --color-error-100: var(--ui-color-error-100);
    --color-error-200: var(--ui-color-error-200);
    --color-error-300: var(--ui-color-error-300);
    --color-error-400: var(--ui-color-error-400);
    --color-error-500: var(--ui-color-error-500);
    --color-error-600: var(--ui-color-error-600);
    --color-error-700: var(--ui-color-error-700);
    --color-error-800: var(--ui-color-error-800);
    --color-error-900: var(--ui-color-error-900);
    --color-error-950: var(--ui-color-error-950);
    --color-neutral-50: var(--ui-color-neutral-50);
    --color-neutral-100: var(--ui-color-neutral-100);
    --color-neutral-200: var(--ui-color-neutral-200);
    --color-neutral-300: var(--ui-color-neutral-300);
    --color-neutral-400: var(--ui-color-neutral-400);
    --color-neutral-500: var(--ui-color-neutral-500);
    --color-neutral-600: var(--ui-color-neutral-600);
    --color-neutral-700: var(--ui-color-neutral-700);
    --color-neutral-800: var(--ui-color-neutral-800);
    --color-neutral-900: var(--ui-color-neutral-900);
    --color-neutral-950: var(--ui-color-neutral-950);

    --text-color-dimmed: var(--ui-text-dimmed);
    --text-color-muted: var(--ui-text-muted);
    --text-color-toned: var(--ui-text-toned);
    --text-color-default: var(--ui-text);
    --text-color-highlighted: var(--ui-text-highlighted);
    --text-color-inverted: var(--ui-text-inverted);
    --background-color-default: var(--ui-bg);
    --background-color-muted: var(--ui-bg-muted);
    --background-color-elevated: var(--ui-bg-elevated);
    --background-color-accented: var(--ui-bg-accented);
    --background-color-inverted: var(--ui-bg-inverted);
    --background-color-border: var(--ui-border);
    --border-color-default: var(--ui-border);
    --border-color-muted: var(--ui-border-muted);
    --border-color-accented: var(--ui-border-accented);
    --border-color-inverted: var(--ui-border-inverted);
    --border-color-bg: var(--ui-bg);
    --ring-color-default: var(--ui-border);
    --ring-color-muted: var(--ui-border-muted);
    --ring-color-accented: var(--ui-border-accented);
    --ring-color-inverted: var(--ui-border-inverted);
    --ring-color-bg: var(--ui-bg);
    --ring-offset-color-default: var(--ui-border);
    --ring-offset-color-muted: var(--ui-border-muted);
    --ring-offset-color-accented: var(--ui-border-accented);
    --ring-offset-color-inverted: var(--ui-border-inverted);
    --ring-offset-color-bg: var(--ui-bg);
    --divide-color-default: var(--ui-border);
    --divide-color-muted: var(--ui-border-muted);
    --divide-color-accented: var(--ui-border-accented);
    --divide-color-inverted: var(--ui-border-inverted);
    --divide-color-bg: var(--ui-bg);
    --outline-color-default: var(--ui-border);
    --outline-color-inverted: var(--ui-border-inverted);
    --stroke-color-default: var(--ui-border);
    --stroke-color-inverted: var(--ui-border-inverted);
    --fill-color-default: var(--ui-border);
    --fill-color-inverted: var(--ui-border-inverted);
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("assets/fonts/NotoSans-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

html,
body {
    font-family: "NotoSans", sans-serif;
}
