@import "tailwindcss";

@theme {
    --color-main: #00A6D6;
    --color-light: #D7E9F4;
}

@font-face {
  font-family: 'NotoSans';
  src: url('assets/NotoSansSymbols-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('assets/NotoSansSymbols-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

html, body {
  font-family: 'NotoSans', sans-serif;
}
