openapi: 3.0.0
servers:
  - url: 'https://waterwatch.tudelft.nl/api'
    description: Production server (public API for all users)
  - url: 'http://localhost:8000/api'
    description: Local development
info:
  version: 1.0.0
  title: WATERWATCH API
  description: |-
    WATERWATCH is a citizen‑science platform for recording and analyzing drinking‑water temperature (and future sensor data like pH or turbidity).
    Public endpoints allow anyone to query measurements and campaigns.
    Protected operations (delete/update) require an API key or user credentials.
  contact:
    name: WATERWATCH
    email: waterwatch@tudelft.nl
    url: 'https://www.waterwatch.tudelft.nl'
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
tags:
  - name: measurements
    description: 'Upload, query, and delete water‑temperature (and other sensor) data'
  - name: users
    description: 'User account operations (self‑registration, profile, delete own account)'
  - name: campaigns
    description: Manage and explore data‑collection campaigns
  - name: admins
    description: 'Admin‑only endpoints (full CRUD on users, measurements, and campaigns)'
paths:
  /measurements:
    get:
      tags:
        - measurements
      summary: Retrieve all measurements.
      description: |
        Returns a list of all measurements. Supports optional filtering by date, location, campaign, etc.
      parameters: []
      responses:
        '200':
          description: A page of measurements.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Measurement'
        '400':
          description: Bad input parameter.
        '404':
          description: Not found.
  /api/measurements/:
    get:
      tags:
        - measurements
      summary: Retrieve all measurements
      responses:
        '200':
          description: A list of measurements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Measurement'
    post:
      tags:
        - measurements
      summary: Add a new measurement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeasurementPayload'
            example:
              timestamp: '2025-06-17T12:34:56.000Z'
              local_date: '2025-06-17'
              local_time: '14:34:56'
              location:
                type: Point
                coordinates:
                  - 4.895
                  - 52.37
              water_source: well
              temperature:
                sensor: Analog Thermometer
                value: 22.5
                time_waited: '00:05:00'
      responses:
        '201':
          description: Measurement created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Measurement'
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/measurements/locations/:
    get:
      tags:
        - measurements
      summary: Get list of countries by continent
      description: Returns a JSON object whose keys are continent names and values are arrays of country names.
      responses:
        '200':
          description: Map of continents to country lists
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
              example:
                Africa:
                  - Algeria
                  - Egypt
                Asia:
                  - China
                  - India
                Europe:
                  - Netherlands
                  - Germany
    parameters: []
  /api/measurements/presets/:
    get:
      tags:
        - measurements
      summary: Get list of public presets
      description: Returns all presets marked as `is_public=true`.
      responses:
        '200':
          description: List of presets
          content:
            application/json:
              schema:
                type: object
                properties:
                  presets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Preset'
              example:
                presets:
                  - id: 1
                    name: "Daily Summary"
                    description: "Aggregate data every 24h"
                    filters:
                      dateRange:
                        from: "2025-06-01"
                        to: "2025-06-30"
                      measurements_included:
                        - "temperature"
                        - "waterSources"
                    created_by: "admin"
                    created_at: "2025-04-15T09:30:00Z"
                    updated_at: "2025-05-10T14:45:00Z"
                    is_public: true
                  - id: 2
                    name: "Urban Rivers"
                    description: "Temperatures from city waterways"
                    filters:
                      location:
                        continents: ["Europe"]
                        countries: ["Netherlands", "Germany"]
                      measurements_included:
                        - "temperature"
                    created_by: "researcher"
                    created_at: "2025-03-20T16:00:00Z"
                    updated_at: "2025-03-22T08:15:00Z"
                    is_public: true
    parameters: []
  /api/measurements/search/:
    post:
      tags:
        - measurements
      summary: Search measurements
      description: |
        Perform a filtered search over measurements.   Supports filtering by date range, location (regions & subregions), water‑source, temperature range, included metrics, and time windows.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeasurementSearchRequest'
            example:
              'dateRange[from]': '2025-06-05'
              'dateRange[to]': '2025-06-12'
              'location[continents]':
                - Europe
                - Asia
              'location[countries]':
                - Netherlands
                - India
              measurements_included:
                - waterSources
                - temperature
              'measurements[waterSources]':
                - well
                - river
              'measurements[temperature][from]': 5
              'measurements[temperature][to]': 10
              times: '[{"from":"08:00","to":"13:00"}]'
              month: [1,2,3]
              boundary_geometry:
                'POLYGON((7.883103 51.399206, 7.883103 47.989922, 3.316172 46.195042))'
              format: 'geojson'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Measurement'
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/measurements/temperatures/:
    post:
      tags:
        - measurements
      summary: Retrieve temperature measurements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemperatureRequest'
            example:
              boundary_geometry:
                'POLYGON((7.883103 51.399206, 7.883103 47.989922, 3.316172 46.195042))'
              month:
                - 0
                - 6
      responses:
        '200':
          description: List of temperature values
          content:
            application/json:
              schema:
                type: array
                items:
                  type: number
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/login/:
    post:
      tags:
        - users
      summary: Authenticate and log in a user
      description: |
        Expects JSON with `username` and `password`.  
        Returns groups list on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              username: admin
              password: secret123
      responses:
        '200':
          description: Successfully logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadCredentials'
  /api/logout/:
    post:
      tags:
        - users
      summary: Log out the current user
      description: Invalid if not authenticated.
      responses:
        '200':
          description: Successfully logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericDetail'
              example:
                detail: Successfully logged out.
        '400':
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericDetail'
              example:
                detail: You're not logged in.
  /api/session/:
    get:
      tags:
        - users
      summary: Check authentication status (sets CSRF cookie)
      responses:
        '200':
          description: Authentication state, with CSRF cookie set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
  /api/whoami/:
    get:
      tags:
        - users
      summary: Get authenticated username
      responses:
        '200':
          description: Username or unauthenticated flag
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WhoAmIResponse'
                  - $ref: '#/components/schemas/SessionResponse'
  /api/user-permissions/:
    get:
      tags:
        - users
      summary: List user's groups and permissions
      security:
        - cookieAuth: []
      responses:
        '200':
          description: User info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPermissionsResponse'
        '403':
          description: Forbidden (not authenticated)
  /api/health/:
    get:
      tags:
        - users
      summary: Health check
      description: Returns status ok when server is up.
      responses:
        '200':
          description: Server healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/campaigns/active/:
    get:
      tags:
        - campaigns
      summary: Retrieve active campaigns
      description: |
        Returns all campaigns active at the given datetime and within the specified location.
      parameters:
        - name: datetime
          in: query
          description: ISO‑8601 timestamp to filter campaigns by their start/end times
          required: true
          schema:
            type: string
            format: date-time
            example: '2025-06-17T12:00:00Z'
        - name: lat
          in: query
          description: Latitude to filter campaigns by region proximity
          required: true
          schema:
            type: number
            format: float
            example: 52.37
        - name: lng
          in: query
          description: Longitude to filter campaigns by region proximity
          required: true
          schema:
            type: number
            format: float
            example: 4.895
      responses:
        '200':
          description: A list of matching active campaigns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveCampaignsResponse'
              example:
                campaigns:
                  - id: 123
                    name: Summer Promo
                    description: Discounts on all summer items
                    start_time: '2025-06-01T00:00:00Z'
                    end_time: '2025-08-31T23:59:59Z'
                    region:
                      type: Polygon
                      coordinates:
                        - - - 4.88
                            - 52.36
                          - - 4.9
                            - 52.36
                          - - 4.9
                            - 52.38
                          - - 4.88
                            - 52.38
                          - - 4.88
                            - 52.36
                  - id: 456
                    name: Heat Wave Alert
                    description: Special campaigns during heat waves
                    start_time: '2025-06-15T08:00:00Z'
                    end_time: '2025-06-20T20:00:00Z'
                    region: null
        '400':
          description: Invalid or missing datetime
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Invalid or missing datetime
  /api/measurements/aggregated/:
    post:
      tags:
        - measurements
      summary: Export aggregated measurements
      description: |
        Returns measurements aggregated by location and month, optionally filtered by one or more months (0 = last 30 days). Uses smart caching for performance.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregatedRequest'
            example:
              boundary_geometry:
                'POLYGON((7.883103 51.399206, 7.883103 47.989922, 3.316172 46.195042))'
              month:
                - 6
                - 7
      responses:
        '200':
          description: Aggregated measurements payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedMeasurementsResponse'
              example:
                measurements:
                  - location:
                      type: Point
                      coordinates:
                        - 4.895
                        - 52.37
                    longitude: 4.895
                    latitude: 52.37
                    month: 6
                    count: 12
                    avg_temperature: 21.4
                    min_temperature: 19.8
                    max_temperature: 24.1
                count: 1
                status: success
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
  responses:
    BadRequest:
      description: Invalid request parameters or payload
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: Invalid or missing parameter
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: Internal server error
    BadCredentials:
      description: Missing or invalid username/password
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericDetail'
          example:
            detail: Invalid credentials.
  schemas:
    Preset:
      type: object
      required:
        - id
        - name
        - description
        - filters
        - created_by
        - created_at
        - updated_at
        - is_public
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        filters:
          type: object
          additionalProperties: true
          description: Arbitrary key/value filter parameters
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_public:
          type: boolean
    MeasurementSearchRequest:
      type: object
      description: Flat search parameters for measurements
      properties:
        'dateRange[from]':
          type: string
          format: date
        'dateRange[to]':
          type: string
          format: date
        'location[continents]':
          type: array
          items:
            type: string
        'location[countries]':
          type: array
          items:
            type: string
        measurements_included:
          type: array
          items:
            type: string
        'measurements[waterSources]':
          type: array
          items:
            type: string
        'measurements[temperature][from]':
          type: number
        'measurements[temperature][to]':
          type: number
        times:
          type: string
          description: JSON‑encoded array of time‑window objects
        'month':
          oneOf:
            - type: integer
            - type: array
              items:
                type: integer
          description: |
            Month number (1–12) or 0 for last 30 days; or list thereof.
        'boundary_geometry':
          $ref: '#/components/schemas/GeoJSON'
      required:
        - 'dateRange[from]'
        - 'dateRange[to]'
    AggregatedRequest:
      type: object
      properties:
        'month':
          oneOf:
            - type: integer
            - type: array
              items:
                type: integer
          description: |
            Month number (1–12) or 0 for last 30 days; or list thereof.
        'boundary_geometry':
          $ref: '#/components/schemas/GeoJSON'
    AggregatedMeasurement:
      type: object
      required:
        - location
        - longitude
        - latitude
        - month
        - count
        - avg_temperature
        - min_temperature
        - max_temperature
      properties:
        location:
          $ref: '#/components/schemas/GeoJSON'
        longitude:
          type: number
          format: float
        latitude:
          type: number
          format: float
        month:
          type: integer
        count:
          type: integer
        avg_temperature:
          type: number
        min_temperature:
          type: number
        max_temperature:
          type: number
        month:
          oneOf:
            - type: integer
            - type: array
              items:
                type: integer
        boundary_geometry:
          $ref: '#/components/schemas/GeoJSON'
    AggregatedMeasurementsResponse:
      type: object
      required:
        - measurements
        - count
        - status
      properties:
        measurements:
          type: array
          items:
            $ref: '#/components/schemas/AggregatedMeasurement'
        count:
          type: integer
        status:
          type: string
          example: success
    Measurement:
      type: object
      required:
        - id
        - timestamp
        - local_date
        - local_time
        - location
        - water_source
      properties:
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        local_date:
          type: string
          format: date
        local_time:
          type: string
          pattern: '^\\d{2}:\\d{2}:\\d{2}$'
        location:
          $ref: '#/components/schemas/GeoJSON'
        water_source:
          type: string
        temperature:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/TemperatureDetail'
    MeasurementPayload:
      type: object
      required:
        - timestamp
        - local_date
        - local_time
        - location
        - water_source
      properties:
        timestamp:
          type: string
          format: date-time
        local_date:
          type: string
          format: date
        local_time:
          type: string
          pattern: '^\\d{2}:\\d{2}:\\d{2}$'
        location:
          $ref: '#/components/schemas/GeoJSON'
        water_source:
          type: string
        temperature:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/TemperatureDetail'
    TemperatureRequest:
      type: object
      properties:
        boundary_geometry:
          $ref: '#/components/schemas/GeoJSON'
        month:
          oneOf:
            - type: integer
            - type: array
              items:
                type: integer
    TemperatureDetail:
      type: object
      required:
        - sensor
        - value
        - time_waited
      properties:
        sensor:
          type: string
        value:
          type: number
        time_waited:
          type: string
          pattern: '^\\d{2}:\\d{2}:\\d{2}$'
    GeoJSON:
      type: object
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum: [Point, LineString, Polygon, MultiPoint, MultiLineString, MultiPolygon]
        coordinates:
          type: array
          items: {}
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string
    LoginResponse:
      type: object
      properties:
        detail:
          type: string
          example: Successfully logged in.
        groups:
          type: array
          items:
            type: string
    GenericDetail:
      type: object
      properties:
        detail:
          type: string
    SessionResponse:
      type: object
      required:
        - isAuthenticated
        - user
        - groups
      properties:
        isAuthenticated:
          type: boolean
          description: Whether the user is currently authenticated.
          example: false
        user:
          nullable: true
          description: >
            When authenticated, the object with basic user info;
            otherwise `null`.
          oneOf:
            - $ref: '#/components/schemas/UserInfo'
            - type: 'null'
        groups:
          type: array
          description: >
            List of group names the user belongs to. Includes virtual
            `"admin"` if `is_superuser` and `"staff"` if `is_staff`.
          items:
            type: string
          example:
            - users
            - staff
    UserInfo:
      type: object
      required:
        - username
      properties:
        username:
          type: string
          description: The unique username of the authenticated user.
          example: johndoe
    WhoAmIResponse:
      type: object
      properties:
        username:
          type: string
          example: admin
    UserPermissionsResponse:
      type: object
      properties:
        username:
          type: string
          example: alice
        groups:
          type: array
          items:
            type: string
        permissions:
          type: array
          items:
            type: string
        is_superuser:
          type: boolean
          example: false
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - ok
          example: ok
    ActiveCampaignsResponse:
      type: object
      properties:
        campaigns:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'
    Campaign:
      type: object
      required:
        - id
        - name
        - description
        - start_time
        - end_time
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        region:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/GeoJSON'